/* ---------- GENERAL ---------- */
/* #region */
body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

input {
    font-family: inherit;
}

button {
    font-family: inherit;
    color: currentColor;
    border: none;
    cursor: pointer;
}

.logo {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}

.logo-studio {
    color: #2e2f42;
}

.link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.container {
    max-width: 288px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}


/* #endregion */

/* ---------- HEADER ---------- */
/* #region */
header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container{
    display: flex;
    justify-content: space-between;
}

.nav-container{
    display: flex;
    align-items: center;
}

header .logo {
    margin-right: 76px;
    padding: 24px 0;
}

.nav-list-container {
    display: flex;
}

.nav-list-item:not(:last-child) {
    margin-right: 40px;
}

.nav-list-link {
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link.current {
    position: relative;
}

.nav-list-link.current::after {
    position: absolute;
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
}

.nav-list-link:hover, .contacts-list-link:hover, .nav-list-link:focus,
.contacts-list-link:focus, .nav-list-link.current {
    color: #404bbf;
}

address .contacts-list {
    display: flex;
}

.contacts {
    font-style: normal;
}

.contacts-list-link {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-item {
    padding: 24px 0;
}

.contacts-list-item:not(:last-child) {
    margin-right: 40px;
}
/* #endregion */

/* ---------- HERO ---------- */
/* #region */
.hero-section {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 320px;
    margin: 0 auto;
    background-position: center center;
    color: #fff;
    padding-top: 72px;
    padding-bottom: 72px;
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 72px;
}

.hero-button {
    display: block;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    background: #4d5ae5;
    cursor: pointer;
    color: #ffffff;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus {
    background: #404bbf;
}

@media screen and (min-width: 320px) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg-mobile@2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .hero-section {
        max-width: 768px;
        padding-top: 112px;
        padding-bottom: 112px;
    }
    .hero-title {
        font-size: 56px;
        line-height: 1.07143;
        margin-bottom: 36px;
    }
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg-tablet.jpg);
    }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg-tablet@2x.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 48px;
        max-width: 496px;
    }
    .hero-section {
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
    }
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg.jpg);
    }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg-desktop@2x.jpg);
    }
}
/* #endregion */

/* ---------- Features ---------- */
/* #region */
.features-section {
    padding: 96px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    flex-direction: column;
    gap: 72px 0;
}

.features-card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    padding: 24px 100px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    margin: 0 0 8px 0;
}

.features-card-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-card-text {
    font-weight: 500;
}


@media screen and (max-width: 767px) {
    .features-card {
        width: 100%;
    }
    .features-card-title {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .features-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .features-card {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (max-width: 1157px) {
    .features-card-icon {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .features-card {
        width: calc((100% - 24px * 3) / 4);
    }
    .features-card:not(:last-child) {
        margin-right: 24px;
    }
    .features-section {
        padding: 120px 0;
    }
    .features-card-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
    .features-card-text {
        font-weight: 400;
    }
}
/* #endregion */

/* ---------- Our Team ---------- */
/* #region */
.team-section {
    background-color: #f4f4fd;
    padding: 96px 0;
}

.section-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px 0;
}

.team-card-container {
    padding: 32px 0;
}

.team-card {
    background-color: #FFFFFF;
    width: 264px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-card-text {
    text-align: center;
    margin-bottom: 8px;
}

.team-icons-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-icons-item {
    width: 40px;
    height: 40px;
}

.team-icons-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons-link:hover, .team-icons-link:focus {
    background-color: #404bbf;

}

.team-icon-svg {
    display: block;
    fill: #F4F4FD;
}


@media screen and (max-width: 767px) {
    .team-card {
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .team-list {
        display: flex;
        flex-direction: row;
        gap: 64px 24px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 1157px) {

}

@media screen and (min-width: 1158px) {
    .team-section {
        padding: 120px 0;
    }
}
/* #endregion */

/* ---------- Our Portfolio ---------- */
/* #region */
.portfolio-section {
    padding: 96px 0;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 48px 0;
}

.portfolio-card {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay-container {
    position: relative;
    overflow: hidden;
}

.overlay {
    color: #f4f4fd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: #4d5ae5;
    padding: 40px 32px;
    height: 100%;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-photo {
    height: 280px;
}

.portfolio-card:hover .overlay {
    transform: translateY(0);
}

.portfolio-card-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;    
    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        flex-direction: row;
        gap: 72px 24px;
    }
    .portfolio-card {
        width: calc((100% - 24px) / 2);
    }
    .portfolio-card-photo {
        width: 356px;
        height: 300px;
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-section {
        padding: 120px 0;
    }
    .portfolio-list {
        gap: 48px 24px;
    }
    .portfolio-card {
        width: calc((100% - 24px * 2) / 3);
    }
    .portfolio-card-photo {
        width: 360px;
    }
}
/* #endregion */

/* ---------- FOOTER ---------- */
/* #region */
.footer{
   background-color: #2e2f42;
   padding: 96px 0;
}

.footer .container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: column;
}

.footer .logo {
    display: block;
    margin-bottom: 16px;
}

/* .footer .logo {
    display: inline-block;
    margin-bottom: 16px;
    text-align: center;
} */

.logo-footer {
   color: #f4f4fd; 
}

.footer-text {
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ----- Icons ----- */

.footer-social-container {
    margin: 0 auto;
}

.social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-icons-list {
    display: flex;
    gap: 16px;
}

.footer-icon-item {
    width: 40px;
    height: 40px;
}

.footer-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover, .footer-icon-link:focus {
    background-color: #31d0aa;
}

.footer-icon-svg {
    display: block;
    fill: #F4F4FD;
}

/* ----- Form ----- */

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-form-title {
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;
}

.form-input {
    display: block;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 8px 16px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
}

.form-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.subscribe-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background-color: #4d5ae5;

    font-weight: 500;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    line-height: 1.5
}

.telegram-svg {
    display: block;
    fill: #fff;
    margin-left: 16px;
}

@media screen and (max-width: 767px) {
    .footer .container {
        gap: 72px 0;
    }
    .footer .logo, .social-text, .footer-form-title {
        text-align: center;
    }
    .footer-icons-list {
        margin: 0 auto;
    }
    .footer-form {
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .footer .container {
        flex-direction: row;
        flex-wrap: wrap;
        /* display: flex;
        align-items: baseline;
        justify-content: space-between; */
    }
    .footer-text-container {
        width: 264px;
    }
    .footer-form {
        flex-direction: row;
        gap: 24px;
    }
    .form-input {
        width: 264px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .footer .container {
        padding-left: 92px;
    }
    .footer-social-container {
        margin-left: 24px;
    }
    .footer-text-container {
        margin-bottom: 72px;
    }
    
}

@media screen and (max-width: 1157px) {
    .form-input {
        opacity: 0.3;
    }
    .form-input::placeholder {
        opacity: 0.6;
    }
}

@media screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }
    .footer-text-container {
        margin-right: 120px;
    }
    .footer-social-container {
        margin-right: 80px;
    }
}
/* #endregion */

/* ---------- MODAL ---------- */
/* #region */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 72px 24px 24px;

}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover, .modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-svg, .modal-close-btn:focus .modal-close-svg {
    fill: #ffffff;
}

.modal-title {
    font-weight: 500;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form-container {
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-input-container {
    position: relative;
}

.modal-input {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:active,
.modal-input:focus {
    border: 1px solid #4d5ae5;
}

.modal-input-svg {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:active + .modal-input-svg,
.modal-input:focus + .modal-input-svg {
    fill: #4D5AE5;
}

.textarea-container {
    margin-bottom: 16px;
}

.modal-textarea {
    resize: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus,
.modal-textarea:active {
    border: 1px solid #4d5ae5;
}

.modal-checkbox-container {
    margin-bottom: 24px;
}

.modal-label-privacy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.privacy-policy {
    display: inline-block;
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.checkbox-icon {
    display: block;
}

.new-modal-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.modal-checkbox:checked + .modal-label-privacy>.new-modal-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.modal-btn {
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    margin: 0 auto;

    font-weight: 500;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    line-height: 1.5;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion */

@media screen and (max-width: 767px) {}

@media screen and (min-width: 768px) {}

@media screen and (max-width: 1157px) {}

@media screen and (min-width: 1158px) {}

/* mob



tabl



desc 



*/